* {
  margin: 0;
  padding: 0;
  font-family: Josefin Slab, serif;
}

.letters-wrap {
  width: 100%;
  height: 900px;
  background-image: url("../images/letters-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 2px solid white;
  border-radius: 4px;
  margin: 0 auto;
  font-size: 14px;
  transition: all 0.07s ease;
  width: 17%;
  height: 100px;
  text-align: center;
  color: red;
  background: yellow;
  text-shadow: 0 0 5px black;
}
kbd {
  display: block;
  font-size: 40px;
}
