* {
  margin: 0;
  padding: 0;
  font-family: Josefin Slab, serif;
}

.body {
  overflow-x: hidden;
}

/* letters */

.letters-wrap {
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/letters-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.letters-title {
  position: absolute;
  top: 48%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: red;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

.key {
  border: 2px solid white;
  border-radius: 4px;
  margin: 80px 40px;
  font-size: 14px;
  transition: all 1.5s ease-in-out;
  width: 13%;
  height: 300px;
  text-align: center;
  color: red;
  text-shadow: 0 0 5px white;
  background-size: cover;
  background-repeat: no-repeat;
}

.letter-a {
  background-image: url('../images/apple.jpg');
}

.letter-s {
  background-image: url('../images/strawberry.jpg');
}

.letter-d {
  background-image: url('../images/dog.jpg');
}

.letter-f {
  background-image: url('../images/fish.jpg');
}

.letter-g {
  background-image: url('../images/grape.jpg');
}

.letter-h {
  background-image: url('../images/house.jpg');
}

.letter-j {
  background-image: url('../images/jellyfish.jpg');
}

.letter-k {
  background-image: url('../images/key.jpg');
}

.letter-l {
  background-image: url('../images/ladybug.jpg');
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
}

.playing {
  transform: scale(1.2);
  border-color: #4ae9f7;
  box-shadow: 0 0 10px #4ae9f7;
}

/* /letters */

/* clock */

.clock-background {
  position: relative;
  width: 100%;
  height: 900px;
  min-height: 100vh;
  background-image: url("../images/clock-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  align-items: center;
}

.clock-wrapper {
  position: absolute;
  width: 100%;
  top: 27%;
  text-align: center;
  margin: 0 auto;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 20px solid #f9ea6b;
  border-radius: 50%;
  margin: 0 auto;
  padding: 12px;
  box-shadow: 0 0 0 4px rgba(183, 15, 15, 0.14), inset 0 0 0 3px #f9ea6b, inset 0 0 10px #b70f0f, 0 0 10px rgba(183, 15, 15, 0.14);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* depends on the height of the clock hands */
}

.hand {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 6px;
  background: #f9ea6b;
  transform-origin: 100%;
  /* to rotate from the very right end, not from the middle as in defolt */
  transform: rotate(90deg);
  /* to place it on 12 o'clock */
  transition: all 0.05s;
}

.second-hand {
  transition-timing-function: cubic-bezier(0.42, 0, 1, 2.48);
}

.min-hand {
  transition-timing-function: cubic-bezier(0.42, 0, 1, 2.48);
}

/* /clock */

/* color-change */

:root {
  --base: #58b7a8;
  /* declare variable on root or any other element */
}

.color-change {
  position: relative;
  width: 100%;
  height: 900px;
  min-height: 100vh;
  background-image: url("../images/color-change-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.color-change .words {
  position: absolute;
  text-transform: uppercase;
  font-size: 60px;
  color: var(--base);
}

.color-change .word-1 {
  top: 30%;
  right: 5%;
}

.color-change .word-2 {
  top: 40%;
  left: 60%;
}

.color-change .word-3 {
  top: 45%;
  left: 10%;
}

.color-change .word-4 {
  bottom: 15%;
  left: 17%;
}

.color-change .word-5 {
  bottom: 25%;
  left: 36%;
}

.control {
  position: absolute;
  top: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

label {
  font-size: 60px;
  color: #4d4d4d;
  padding-right: 20px;
}

input {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* /color-change */

/* gallery */

.gallery {
  width: 100%;
  height: 900px;
  min-height: 100vh;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  box-sizing: border-box;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel>* {
  /* flex children */
  margin: 0;
  width: 100%;
  border: 1px solid red;
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
}

.panel {
  /* it's both flex child and flex parent */
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  /* centered left to right */
  flex-direction: column;
}

.panel p:nth-child(2) {
  font-size: 40px;
}

.panel1 {
  background-image: url("../images/panel1.jpg")
}

.panel2 {
  background-image: url("../images/panel2.jpg")
}

.panel3 {
  background-image: url("../images/panel3.jpg")
}

.panel4 {
  background-image: url("../images/panel4.jpg")
}

.panel5 {
  background-image: url("../images/panel5.jpg")
}

/* /gallery */