* {
  margin: 0;
  padding: 0;
  font-family: Josefin Slab, serif;
}

/* letters */

.letters-wrap {
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/letters-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.letters-title {
  position: absolute;
  top: 48%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: red;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

.key {
  border: 2px solid white;
  border-radius: 4px;
  margin: 80px 40px;
  font-size: 14px;
  transition: all 1.5s ease-in-out;
  width: 13%;
  height: 300px;
  text-align: center;
  color: red;
  text-shadow: 0 0 5px white;
  background-size: cover;
  background-repeat: no-repeat;
}

.letter-a {
  background-image: url('../images/apple.jpg');
}

.letter-s {
  background-image: url('../images/strawberry.jpg');
}

.letter-d {
  background-image: url('../images/dog.jpg');
}

.letter-f {
  background-image: url('../images/fish.jpg');
}

.letter-g {
  background-image: url('../images/grape.jpg');
}

.letter-h {
  background-image: url('../images/house.jpg');
}

.letter-j {
  background-image: url('../images/jellyfish.jpg');
}

.letter-k {
  background-image: url('../images/key.jpg');
}

.letter-l {
  background-image: url('../images/ladybug.jpg');
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
}

.playing {
  transform: scale(1.2);
  border-color: #4ae9f7;
  box-shadow: 0 0 10px #4ae9f7;
}

/* /letters */

/* clock */

.clock-wrapper {
  position: relative;
  width: 100%;
  height: 900px;
  min-height: 100vh;
  background-image: url("../images/clock-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  align-items: center;
}

/* /clock */