* {
  margin: 0;
  padding: 0;
  font-family: Josefin Slab, serif;
}

/* v-header */

.v-header {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #fff;
  overflow: hidden;
}

.header-content {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

.header-content h1 {
  box-sizing: border-box;
  font-size: 24px;
  margin-bottom: 0;
}

.header-content p {
  box-sizing: border-box;
  font-size: 14px;
  display: block;
  padding-bottom: 20px;
  line-height: 21px;
}

.btn {
  box-sizing: border-box;
  background: #58b7a8;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
}

.fullscreen-video-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  z-index: 1;
  background: #675079;
  opacity: 0.85;
}

/* Hamburger Menu */

.hamburger {
  position: absolute;
  top: 6%;
  right: 9%;
  cursor: pointer;
  z-index: 4;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  display: block;
  background-color: #fff;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  background-color: white;
  transform: translateY(7px) rotate(45deg);
  -o-transition: translateY(10px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
  background-color: white;
  transform: translateY(-7px) rotate(-45deg);
  -o-transition: translateY(-10px) rotate(-45deg);
}

/* /Hamburger Menu */

/* Menu Takeover */

.menu-takeover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #58b7a8;
}

.menu-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  color: #fff;
}

.menu-component {
  border-bottom: 1px dotted #fff;
  padding: 15px 5px;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  cursor: pointer;
}

.menu-component:hover {
  opacity: 0.7;
}

.crab-container {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 90px;
}

.crab {
  float: left;
  width: 90px;
  height: 90px;
}

.crab-icon {
  width: 100%;
}

.crab-shifter {
  float: left;
  width: 1%;
  height: 90px;
  animation: crab-move 8s cubic-bezier(0, 0.18, 0.33, 1.11) infinite alternate;
}

@keyframes crab-move {
  from {
    width: 1%;
  }
  to {
    width: 70%;
  }
}

/* /Menu Takeover */

/* /header */

/* section with letters */

.letters-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("../images/letters-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.letters-title {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: #3e3d3d;
}

.keys {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

.key {
  border: 2px solid white;
  border-radius: 4px;
  margin: 40px 40px;
  font-size: 14px;
  transition: all 1.5s ease-in-out;
  width: 50%;
  height: 300px;
  text-align: center;
  color: red;
  text-shadow: 0 0 5px white;
  background-size: cover;
  background-repeat: no-repeat;
}

.letter-a {
  background-image: url("../images/apple.jpg");
}

.letter-s {
  background-image: url("../images/strawberry.jpg");
}

.letter-d {
  background-image: url("../images/dog.jpg");
}

.letter-f {
  background-image: url("../images/fish.jpg");
}

.letter-g {
  background-image: url("../images/grape.jpg");
}

.letter-h {
  background-image: url("../images/house.jpg");
}

.letter-j {
  background-image: url("../images/jellyfish.jpg");
}

.letter-k {
  background-image: url("../images/key.jpg");
}

.letter-l {
  background-image: url("../images/ladybug.jpg");
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
}

.playing {
  transform: scale(1.2);
  border-color: #4ae9f7;
  box-shadow: 0 0 10px #4ae9f7;
}

/* /section with letters */

/* section with clock */

.clock-background {
  position: relative;
  width: 100%;
  height: 900px;
  min-height: 100vh;
  background-image: url("../images/clock-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  align-items: center;
}

.clock-wrapper {
  position: absolute;
  width: 100%;
  top: 27%;
  text-align: center;
  margin: 0 auto;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 20px solid #f9ea6b;
  border-radius: 50%;
  margin: 0 auto;
  padding: 12px;
  box-shadow: 0 0 0 4px rgba(183, 15, 15, 0.14), inset 0 0 0 3px #f9ea6b, inset 0 0 10px #b70f0f, 0 0 10px rgba(183, 15, 15, 0.14);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* depends on the height of the clock hands */
}

.hand {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 6px;
  background: #f9ea6b;
  transform-origin: 100%;
  /* to rotate from the very right end, not from the middle as in defolt */
  transform: rotate(90deg);
  /* to place it on 12 o'clock */
  transition: all 0.05s;
}

.second-hand {
  transition-timing-function: cubic-bezier(0.42, 0, 1, 2.48);
}

.min-hand {
  transition-timing-function: cubic-bezier(0.42, 0, 1, 2.48);
}

/* /section with clock */

/* section with color-change */

.color-change {
  --base: #58b7a8;
  /* declare variable on root or any other element */
}

.color-change {
  position: relative;
  width: 100%;
  height: 900px;
  min-height: 100vh;
  background-image: url("../images/color-change-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.color-change .words {
  position: absolute;
  text-transform: uppercase;
  font-size: 60px;
  color: var(--base);
}

.color-change .word-1 {
  top: 30%;
  right: 5%;
}

.color-change .word-2 {
  top: 40%;
  left: 60%;
}

.color-change .word-3 {
  top: 45%;
  left: 10%;
}

.color-change .word-4 {
  bottom: 15%;
  left: 17%;
}

.color-change .word-5 {
  bottom: 25%;
  left: 36%;
}

.control {
  position: absolute;
  top: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

label {
  font-size: 60px;
  color: #4d4d4d;
  padding-right: 20px;
}

.input-color {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* /section with color-change */

/* section with gallery */

.gallery {
  width: 100%;
  min-height: 100vh;
  font-family: "helvetica neue";
  font-weight: 200;
  box-sizing: border-box;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel>* {
  /* flex children */
  margin: 0;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel>*:first-child {
  transform: translateY(-100%);
}

.panel.open-active>*:first-child {
  transform: translateY(0);
}

.panel>*:last-child {
  transform: translateY(100%);
}

.panel.open-active>*:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.panel {
  /* it's both flex child and flex parent */
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 37px;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex: 1;
  /* panels share extra room equaly among themselves*/
  justify-content: center;
  /* centered left to right */
  flex-direction: column;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

.panel p:nth-child(2) {
  font-size: 60px;
}

.panel.open {
  flex: 5;
  /* it takes 5 times more extra room than other panels */
}

.panel1 {
  background-image: url("../images/panel1.jpg");
}

.panel2 {
  background-image: url("../images/panel2.jpg");
}

.panel3 {
  background-image: url("../images/panel3.jpg");
}

.panel4 {
  background-image: url("../images/panel4.jpg");
}

.panel5 {
  background-image: url("../images/panel5.jpg");
}

/* /section with gallery */

/* section with text*/

.text-section {
  text-align: center;
  background-color: #f4f4f4;
  color: #666;
  padding: 4%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.text-section p {
  margin: 4% auto;
  font-size: 20px;
  line-height: 35px;
}

.text-section h2 {
  padding: 100px auto 0 auto;
}

/* /section with text */

/* section with locations search */

.search-locations {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/search-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.search-form {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.input-search {
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  text-align: center;
  outline: 0;
  border: 10px solid #f7f7f7;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  /*perspective:20px;*/
}

.suggestions li {
  width: 300px;
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.hl {
  background: #b28ece;
}

/* /section with locations search */

/* footer */

.footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: "helvetica neue";
  font-weight: 200;
}

.footer-nav {
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  top: 10%;
  left: 12%;
}

.footer-nav-item span {
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.footer-nav-item {
  width: 100%;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
}

.spider {
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
  margin-left: -22px;
  width: 45px;
  height: 45px;
}

.spider:before {
  display: block;
  content: "";
  width: 1px;
  height: 150px;
  background: #fff;
  margin-left: 45px;
  margin-bottom: -3px;
  animation: spider-move 4s ease-in-out infinite alternate;
}

@keyframes spider-move {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}

.socials {
  position: absolute;
  top: 10%;
  right: 18%;
  text-align: center;
  width: 50px;
}

.socials-item {
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.footer-icon {
  width: 100%;
}

.youtube,
.pinterest,
.facebook,
.twitter {
  position: relative;
}

.youtube::after,
.pinterest::after,
.facebook::after,
.twitter::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.youtube::after {
  background-image: url("../images/youtube-overlay.png");
}

.pinterest::after {
  background-image: url("../images/pinterest-overlay.png");
}

.facebook::after {
  background-image: url("../images/facebook-overlay.png");
}

.twitter::after {
  background-image: url("../images/twitter-overlay.png");
}

.youtube:hover:after,
.pinterest:hover:after,
.facebook:hover:after,
.twitter:hover:after {
  opacity: 1;
}

.subscribe-form-wrapper {
  position: absolute;
  width: 320px;
  background: rgba(106, 178, 252, 0.5);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 9px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.subscribe h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.subscribe-email {
  width: 100%;
  height: 33px;
  background: none;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 6px 15px;
  box-sizing: border-box;
  margin-bottom: 9px;
  font-size: 16px;
  color: #fff;
}

.subscribe-button {
  background: #bf72d5;
  box-sizing: border-box;
  border: 0;
  width: 100%;
  height: 33px;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 27px;
  padding-top: 10px;
  color: #3e3d3d;
}

.subscribe-button:hover {
  background: #a4b15c;
  transition: 0.6s;
}

.subscribe::placeholder {
  color: #fff;
}

/* /footer */

/* Media Queries*/

@media
/* medium */

(min-width: 451px) {
  /* header */
  .menu-component {
    padding: 10px 5px;
    font-size: 32px;
  }
  @media /* large */
  (min-width: 769px) {
    /* header */
    .hamburger-menu,
    .menu-takeover {
      display: none;
    }
    .navbar {
      box-sizing: border-box;
      width: 100%;
      padding: 20px;
      position: fixed;
      top: 0px;
      text-align: center;
      transition: 0.5s;
      z-index: 2;
    }
    .nav-item {
      position: relative;
      list-style-type: none;
      display: inline-block;
      padding: 8px 30px;
      color: white;
      font-size: 24px;
      cursor: pointer;
      border-radius: 10px;
      transition: 0.5s;
      z-index: 2;
    }
    .nav-item:after {
      content: "";
      position: absolute;
      left: 56%;
      top: 88%;
      width: 75%;
      height: 2px;
      background-color: white;
      transform: translate3d(-50%, -50%, 0);
      transition: 0.5s;
      opacity: 0;
      z-index: 2;
    }
    .nav-item:hover:after {
      opacity: 1;
    }
    .header-content h1 {
      font-size: 32px;
    }
    .header-content p {
      font-size: 16px;
      line-height: 25px;
    }
    .btn {
      font-size: 16px;
    }
    /* section with letters*/
    .key {
      width: 35%;
    }
  }
  @media /* extra-large */
  (min-width: 1025px) {
    /* header */
    .nav-item {
      padding: 10px 50px;
    }
    .header-content h1 {
      font-size: 50px;
    }
    .header-content p {
      font-size: 20px;
      line-height: 30px;
    }
    .btn {
      font-size: 18px;
    }
    /* section with letters*/
    .key {
      margin: 80px 40px;
      width: 13%;
    }
  }