* {
  margin: 0;
  padding: 0;
  font-family: Josefin Slab, serif;
}

/* v-header */

.v-header {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.v-text-container {
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.navbar {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0px;
  text-align: center;
  transition: 0.5s;
  z-index: 2;
}

.nav-item {
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 10px 50px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  z-index: 2;
}

.nav-item:after {
  content: "";
  position: absolute;
  left: 56%;
  top: 88%;
  width: 75%;
  height: 2px;
  background-color: white;
  transform: translate3d(-50%, -50%, 0);
  transition: 0.5s;
  opacity: 0;
  z-index: 2;
}

.nav-item:hover .nav-item:after {
  opacity: 1;
}

.fullscreen-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: #675079;
  opacity: 0.85;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 20px;
  display: block;
  padding-bottom: 20px;
  line-height: 30px;
}

.btn {
  background: #58b7a8;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}

/* /v-header */

/* letters */

.letters-wrapper {
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../images/letters-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.letters-title {
  position: absolute;
  top: 48%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: red;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

.key {
  border: 2px solid white;
  border-radius: 4px;
  margin: 80px 40px;
  font-size: 14px;
  transition: all 1.5s ease-in-out;
  width: 13%;
  height: 300px;
  text-align: center;
  color: red;
  text-shadow: 0 0 5px white;
  background-size: cover;
  background-repeat: no-repeat;
}

.letter-a {
  background-image: url("../images/apple.jpg");
}

.letter-s {
  background-image: url("../images/strawberry.jpg");
}

.letter-d {
  background-image: url("../images/dog.jpg");
}

.letter-f {
  background-image: url("../images/fish.jpg");
}

.letter-g {
  background-image: url("../images/grape.jpg");
}

.letter-h {
  background-image: url("../images/house.jpg");
}

.letter-j {
  background-image: url("../images/jellyfish.jpg");
}

.letter-k {
  background-image: url("../images/key.jpg");
}

.letter-l {
  background-image: url("../images/ladybug.jpg");
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
}

.playing {
  transform: scale(1.2);
  border-color: #4ae9f7;
  box-shadow: 0 0 10px #4ae9f7;
}

/* /letters */

/* clock */

.clock-background {
  position: relative;
  width: 100%;
  height: 900px;
  min-height: 100vh;
  background-image: url("../images/clock-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  align-items: center;
}

.clock-wrapper {
  position: absolute;
  width: 100%;
  top: 27%;
  text-align: center;
  margin: 0 auto;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 20px solid #f9ea6b;
  border-radius: 50%;
  margin: 0 auto;
  padding: 12px;
  box-shadow: 0 0 0 4px rgba(183, 15, 15, 0.14), inset 0 0 0 3px #f9ea6b,
    inset 0 0 10px #b70f0f, 0 0 10px rgba(183, 15, 15, 0.14);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* depends on the height of the clock hands */
}

.hand {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 6px;
  background: #f9ea6b;
  transform-origin: 100%;
  /* to rotate from the very right end, not from the middle as in defolt */
  transform: rotate(90deg);
  /* to place it on 12 o'clock */
  transition: all 0.05s;
}

.second-hand {
  transition-timing-function: cubic-bezier(0.42, 0, 1, 2.48);
}

.min-hand {
  transition-timing-function: cubic-bezier(0.42, 0, 1, 2.48);
}

/* /clock */

/* color-change */

:root {
  --base: #58b7a8;
  /* declare variable on root or any other element */
}

.color-change {
  position: relative;
  width: 100%;
  height: 900px;
  min-height: 100vh;
  background-image: url("../images/color-change-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.color-change .words {
  position: absolute;
  text-transform: uppercase;
  font-size: 60px;
  color: var(--base);
}

.color-change .word-1 {
  top: 30%;
  right: 5%;
}

.color-change .word-2 {
  top: 40%;
  left: 60%;
}

.color-change .word-3 {
  top: 45%;
  left: 10%;
}

.color-change .word-4 {
  bottom: 15%;
  left: 17%;
}

.color-change .word-5 {
  bottom: 25%;
  left: 36%;
}

.control {
  position: absolute;
  top: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

label {
  font-size: 60px;
  color: #4d4d4d;
  padding-right: 20px;
}

input {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* /color-change */

/* gallery */

.gallery {
  width: 100%;
  min-height: 100vh;
  font-family: "helvetica neue";
  font-weight: 200;
  box-sizing: border-box;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel > * {
  /* flex children */
  margin: 0;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.panel {
  /* it's both flex child and flex parent */
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 37px;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex: 1;
  /* panels share extra room equaly among themselves*/
  justify-content: center;
  /* centered left to right */
  flex-direction: column;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

.panel p:nth-child(2) {
  font-size: 60px;
}

.panel.open {
  flex: 5;
  /* it takes 5 times more extra room than other panels */
}

.panel1 {
  background-image: url("../images/panel1.jpg");
}

.panel2 {
  background-image: url("../images/panel2.jpg");
}

.panel3 {
  background-image: url("../images/panel3.jpg");
}

.panel4 {
  background-image: url("../images/panel4.jpg");
}

.panel5 {
  background-image: url("../images/panel5.jpg");
}

/* /gallery */

/* text section */

.text-section {
  text-align: center;
  background-color: #f4f4f4;
  color: #666;
  padding: 150px;
}

.text-section p {
  padding: 40px 150px 0 150px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 35px;
}

.text-section h2 {
  padding: 100px auto 0 auto;
}

/* /text section */

/* search-locations */

.search-locations {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/search-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.search-form {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

input {
  margin: 0;
  padding: 20px;
}

input.search {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  text-align: center;
  outline: 0;
  border: 10px solid #f7f7f7;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  /*perspective:20px;*/
}

.suggestions li {
  width: 300px;
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.hl {
  background: #b28ece;
}

/* /search-locations */

/* footer */
.footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: "helvetica neue";
  font-weight: 200;
}
.footer-nav {
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  top: 10%;
  left: 12%;
}
.footer-nav-item span {
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}
.footer-nav-item {
  width: 100%;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
}
.spider {
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
  margin-left: -22px;
  width: 45px;
  height: 45px;
}
.spider:before {
  display: block;
  content: "";
  width: 1px;
  height: 150px;
  background: #efebe4;
  margin-left: 45px;
  margin-bottom: -3px;
  animation: spider-move 4s ease-in-out infinite alternate;
}
@keyframes spider-move {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}
.socials {
  position: absolute;
  top: 10%;
  right: 18%;
  text-align: center;
  width: 50px;
}

.socials-item {
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.footer-icon {
  width: 100%;
}

.socials-item:hover .footer-icon 

/* /footer */;;
